[user]
    name = {{ .name }}
    email = {{ .email }}
{{- if .useCommitSigning }}
    signingkey = {{ .signingkey }}
{{- end }}
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[pull]
    rebase = false
{{- if .useCommitSigning }}
[commit]
    gpgsign = true
{{- if .use1PasswordSign }}
[gpg]
    format = ssh
{{- if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
[gpg "ssh"]
    program = /opt/1Password/op-ssh-sign
{{- end }}
{{- end }}
{{- end }}
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = nvim -d $LOCAL $REMOTE
