{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e

echo "Configuring macOS defaults..."

# Opening and closing windows and popovers
defaults write -g NSAutomaticWindowAnimationsEnabled -bool false

# Smooth scrolling
defaults write -g NSScrollAnimationEnabled -bool false

# Showing and hiding sheets, resizing preference windows, zooming windows
defaults write -g NSWindowResizeTime -float 0.001

# Opening and closing Quick Look windows
defaults write -g QLPanelAnimationDuration -float 0

# Rubberband scrolling (doesn't affect web views)
defaults write -g NSScrollViewRubberbanding -bool false

# Resizing windows before and after showing the version browser
defaults write -g NSDocumentRevisionsWindowTransformAnimation -bool false

# Showing a toolbar or menu bar in full screen
defaults write -g NSToolbarFullScreenAnimationDuration -float 0

# Scrolling column views
defaults write -g NSBrowserColumnAnimationSpeedMultiplier -float 0

# Showing the Dock
defaults write com.apple.dock autohide-time-modifier -float 0
defaults write com.apple.dock autohide-delay -float 0

# Showing and hiding Mission Control, command+numbers
defaults write com.apple.dock expose-animation-duration -float 0

# Showing and hiding Launchpad
defaults write com.apple.dock springboard-show-duration -float 0
defaults write com.apple.dock springboard-hide-duration -float 0

# Changing pages in Launchpad
defaults write com.apple.dock springboard-page-duration -float 0

# Finder animations
defaults write com.apple.finder DisableAllAnimations -bool true

killall Dock || true
killall Finder || true

echo "macOS defaults configured."
{{ end -}}
