{{- if .use1PasswordAWS -}}
{{- if .onepasswordAccount -}}
{{- onepasswordDocument "aws-credentials" "" .onepasswordAccount -}}
{{- else -}}
{{- onepasswordDocument "aws-credentials" -}}
{{- end -}}
{{- end -}}
